{% extends 'base.html.twig' %}

{% block title %}Illustrateur index{% endblock %}

{% block body %}
    <h1>Illustrateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for illustrateur in illustrateurs %}
            <tr>
                <td>{{ illustrateur.id }}</td>
                <td>{{ illustrateur.prenom }}</td>
                <td>{{ illustrateur.nom }}</td>
                <td>
                    <a href="{{ path('app_illustrateur_show', {'id': illustrateur.id}) }}">show</a>
                    <a href="{{ path('app_illustrateur_edit', {'id': illustrateur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_illustrateur_new') }}">Create new</a>
{% endblock %}
