{% extends 'base.html.twig' %}

{% block title %}Gestion des tranches d'창ge{% endblock %}
{% block h1 %}Gestion des tranches d'창ge|({{ ages|length }}){% endblock %}
{% block body %}

    
    <table class="table table-info text-center table-bordered table-hover mt-4">
    
        <thead class="table-warning">
            <tr>
                <th>Id</th>
                <th>Categorie</th>
                <th>Fiche</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for age in ages %}
            <tr>
                <td>{{ age.id }}</td>
                <td>{{ age.categorie }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('app_age_show', {'id': age.id}) }}">Fiche</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_age_edit', {'id': age.id}) }}">Modifier</a>
                </td>
                <td>
                    <a 
                        class="btn btn-danger"
                        onclick="return confirm('Etes-vous s청r de vouloir supprimer cette tranche d'창ge ?')" 
                        href="{{ path('app_age_delete', {'id': age.id}) }}"
                    >Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <h4 class="text-danger text-center fst-italic mt-4"> Aucun produit</h4>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_age_new') }}">Ajouter</a>
{% endblock %}
