{% extends 'base.html.twig' %}

{% block title %}Tranche d'âge{% endblock %}
{% block h1 %}{{ age.id }}{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ age.id }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ age.categorie }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('app_age_index') }}">Retour</a>

    <a class="btn btn-primary" href="{{ path('app_age_edit', {'id': age.id}) }}">Modifier</a>

    {{ include('age/_delete_form.html.twig') }}
{% endblock %}
