{% extends 'base.html.twig' %}
{% block h1 %}Mon compte{% endblock %}
{% block title %}Mon compte{% endblock %}

{% block body %}
<h5>Nom : {{app.user.nom}}</h5>
<h5>Prénom : {{app.user.prenom}}</h5>
<h5>Email : {{app.user.email}}</h5>
<h5>Mot de passe : {{app.user.password}}</h5>
<h5>Adresse de livraison 1 : </h5>
<h5>Adresse de livraison 2 : </h5>
<h5>Adresse de livraison 3 : </h5>
<h5>Adresse de facturation 1 : </h5>
<h5>Adresse de facturation 2 : </h5>
<h5>Adresse de facturation 3 : </h5>
<h5>Mes commandes: </h5>
<h5>historique de commande : </h5>

<a class="btn btn-info mt-4" href="{{path('app_mon_compte_edit')}}">Modifier mes informations</a>

{% endblock %}
