{% extends 'base.html.twig' %}

{% block title %}Gestion des adresses de livraison{% endblock %}
{% block h1 %}Gestion des adresses de livraison{% endblock %}
{% block body %}
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RueAdresseLivraison</th>
                <th>VilleAdresseLivraison</th>
                <th>CodePostalLivraison</th>
                <th>Commentaire</th>
                <th>Fiche</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse_livraison in adresse_livraisons %}
            <tr>
                <td>{{ adresse_livraison.id }}</td>
                <td>{{ adresse_livraison.rueAdresseLivraison }}</td>
                <td>{{ adresse_livraison.villeAdresseLivraison }}</td>
                <td>{{ adresse_livraison.codePostalLivraison }}</td>
                <td>{{ adresse_livraison.commentaire }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('app_livre_show', {'id': adresse_livraison.id}) }}">Fiche</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_livre_edit', {'id':adresse_livraison.id}) }}">Modifier</a>
                </td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a  class="btn btn-info" href="{{ path('app_adresse_livraison_new') }}">Ajouter</a>
{% endblock %}
