{% extends 'base.html.twig' %}

{% block title %}Gestion des collections{% endblock %}
{% block h1 %}Gestion des collections ({{ series|length }}){% endblock %}
{% block body %}
    
    <table class="table table-info text-center table-bordered table-hover mt-4">

        <thead class="table-warning">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            <tr>
                <td>{{ serie.id }}</td>
                <td>{{ serie.nom }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_serie_edit', {'id': serie.id}) }}">Modifier</a>
                </td>
                <td>
                    <a 
                        class="btn btn-danger"
                        onclick="return confirm('Etes-vous sûr de vouloir supprimer cette collection ?')" 
                        href="{{ path('app_serie_delete', {'id': serie.id}) }}"
                    >Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun produit</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_serie_new') }}">Ajouter</a>
{% endblock %}
