{% extends 'base.html.twig' %}

{% block title %}Theme{% endblock %}
{% block h1 %}{{ theme.id }}{% endblock %}
{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ theme.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ theme.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('app_theme_index') }}">Retour</a>

    <a class="btn btn-primary" href="{{ path('app_theme_edit', {'id': theme.id}) }}">Modifier</a>

    {{ include('theme/_delete_form.html.twig') }}
{% endblock %}
