{% extends 'base.html.twig' %}

{% block title %}Gestion des adresses de facturation{% endblock %}
{% block h1 %}Gestion des adresses de facturation{% endblock %}
{% block body %}
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>RueFacture</th>
                <th>VilleFacture</th>
                <th>CodePostalFacture</th>
                <th>Fiche</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse_facture in adresse_factures %}
            <tr>
                <td>{{ adresse_facture.id }}</td>
                <td>{{ adresse_facture.rueFacture }}</td>
                <td>{{ adresse_facture.villeFacture }}</td>
                <td>{{ adresse_facture.codePostalFacture }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('app_livre_show', {'id': adresse_facture.id}) }}">Fiche</a>
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_livre_edit', {'id':adresse_facture.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('app_adresse_facture_new') }}">Ajouter</a>
{% endblock %}
