{% extends 'base.html.twig' %}

{% block title %}Adresse de facturation{% endblock %}
{% block h1 %}{{ adresse_facture.id }}{% endblock %}
{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adresse_facture.id }}</td>
            </tr>
            <tr>
                <th>RueFacture</th>
                <td>{{ adresse_facture.rueFacture }}</td>
            </tr>
            <tr>
                <th>VilleFacture</th>
                <td>{{ adresse_facture.villeFacture }}</td>
            </tr>
            <tr>
                <th>CodePostalFacture</th>
                <td>{{ adresse_facture.codePostalFacture }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('app_adresse_facture_index') }}">Retour</a>

    <a class="btn btn-primary" href="{{ path('app_adresse_facture_edit', {'id': adresse_facture.id}) }}">Modifier</a>

    {{ include('adresse_facture/_delete_form.html.twig') }}
{% endblock %}
